[defaults]
inventory = ./inventories/
remote_user = ansible
private_key_file = ~/.ssh/keys/ansible@theblacklodge.org
host_key_checking = False
interpreter_python = auto
ansible_shell_executable: /bin/bash
allow_broken_conditionals = true

roles_path = ./.ansible/roles:./roles:
collections_path = ./.ansible/collections:./collections
vars_plugins_enabled = host_group_vars,community.sops.sops
